<!DOCTYPE html>
<html>
  <head>
    <title>Acme Sales</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>

  </head>
  <body>
    <div class="container">
      <h1>ACME Sales</h1>
    </div>
    <div class="container">
      TODO: show what page you're on
      <ul class="nav nav-tabs">
        <li><a href="/">Home</a></li>
        <li><a href="/salesPeople">Sales People</a></li>
        <li><a href="/regions">Regions</a></li>
      </ul>
    </div>

    {% block content %}
    {% endblock %}	
  </body>
</html>
