{% extends "layout.html" %}

{% block content %}
<div class="container">
	<div class="well">
		<form method="POST" action="/salesPeople">
			<div class="form-group">
				<input class="form-control" placeholder="add sales person" name="salesPerson"/>
			</div>
			<button type="submit" class="btn btn-primary">Add Sales Person</button>
		</form>
	</div>

	{% for salesPerson in salesPeople %}
	<div class="well">
		{{ salesPerson.name }}
		<!-- <form style="display:inline" method="POST" action="/salesPersonRegions/{{ }}/{{ region.id }}?_method=DELETE"\>
			<button class="btn btn-danger pull-right">Delete</button>
		</form> -->
		<br clear="all">

	</div>

	<div class="panel-body">
		<ul class="list-group">
		{% for region in regions %}
		{% if matched(arraySPR, salesPerson.id, region.id) %}
			<li class="list-group-item list-group-item-success">
				{{region.zipCode}}
			<form style="display:inline" method="POST" action="/salesPersonRegions/{{salesPerson.id}}/{{region.id}}?_method=DELETE">
			<button type="submit" name="name" value="/salesPeople" class='btn btn-danger pull-right' >Delete</button>
			<br clear="all">
			</form>

			{% else %}

			<li class="list-group-item">
				{{region.zipCode}}
			<form style="display:inline" method="POST" action="/salesPersonRegions/{{salesPerson.id}}/{{region.id}}">
			<button type="submit" name="name" value="/salesPeople" class='btn btn-danger pull-right' >Add</button>
			<br clear="all">
			</form>
		{% endif %}

		</ul>
		{% endfor %}

	</div>
	{% endfor %}
</div>	



{% endblock %}